<style>
  .search {
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 50px;
    box-shadow: 1px 1px 5px grey;
    padding: 10px;
  }

  .btn-search {
    background-color: #ff385c;
    color: white;
    border-radius: 50%;
  }

  .btn-search:hover {
    background-color: #2d0b00;
    color: white;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

  .globestayicon {
    height: 60px;
    width: 60px;
    margin-left: 20px;

  }

  .icong {
    font-size: 2.5em;
    color: transparent;
    background: linear-gradient(#c72e03, black);
    -webkit-background-clip: text;
  }

  .navbar-nav {
    background-color: white;
  }

  .Explore {
    width: 10em;
    position: relative;
    height: 3em;
    border: 3px ridge black;
    outline: none;
    background-color: transparent;
    color: black;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .Explore::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: white;
    transition: 0.5s;
    transform-origin: center;
  }

  .Explore::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: white;
    transition: 0.5s;
  }

  .Explore:hover::before,
  button:hover::after {
    transform: scale(0)
  }

  .Explore:hover {
    box-shadow: inset 0px 0px 25px #ff385c;
  }
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-brands fa-gofore icong"></i></a>
    <a href="/listings"><button class="Explore">Explore</button></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">



      <div class="search ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destinations">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>



      <div class="navbar-nav ms-auto">
        <a class="nav-link mybutton" href="/listings/new">Add New Listings</a>
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } %>

            <% if(currUser){ %>
              <a class="nav-link" href="/logout">Log Out</a>
              <% } %>

      </div>
    </div>
  </div>
</nav>